@media screen and (max-width: 760px) {
  header {
    padding-bottom: 50px;
  }

  .header {
    padding-bottom: 70px;
  }

  .nav__link {
    display: none;
  }
  .nav__link_icon-menu {
    display: block;
    font-size: 25px;
  }
  .nav__list-responsive > .nav__link {
    display: block;
    margin-top: 10px;
  }

  .home {
    padding: 0 10vw;
    text-align: center;
  }

  .about {
    padding: 50px 10vw;
  }

  .prof-skills__wrapper {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    padding: 50px 7vw;
  }
  .prof-skills__empty {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }

  .achievements {
    padding: 25px 0 50px 0;
  }
  .achievements__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .achievements__element {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-top: 50px;
  }

  .gallery {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .gallery__element_1 {
    background: #838383;
  }
  .gallery__element_2 {
    background: #dddddd;
  }
  .gallery__element_3 {
    background: #dddddd;
  }
  .gallery__element_4 {
    background: #838383;
  }
  .gallery__element_5 {
    background: #838383;
  }
  .gallery__element_6 {
    background: #dddddd;
  }
  .gallery__element_7 {
    background: #dddddd;
  }
  .gallery__element_8 {
    background: #838383;
  }

  .owp-categorys__wrapper {
    margin-top: 140px;
    -ms-grid-columns: 43vw 43vw;
    grid-template-columns: 43vw 43vw;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .owp-categorys__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .owp-categorys__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .owp-categorys__wrapper > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .owp-categorys__wrapper > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .owp-categorys__wrapper > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .owp-categorys__wrapper > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .owp-categorys__wrapper > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .owp-categorys__wrapper > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .owp-categorys__element {
    padding: 15px 15%;
  }

  .slider-quotes {
    padding-top: 50px;
    padding-bottom: 35px;
  }
  .slider-quotes__quote-container_2 {
    width: 90%;
  }
  .slider-quotes__quote-author {
    padding-bottom: 50px;
  }

  .labels {
    margin: 0 0 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .labels__element-container {
    width: 100%;
    position: initial;
    margin-top: 30px;
  }
  .labels__image {
    display: block;
    width: 25%;
    margin: 0 auto;
    position: initial;
    left: 0;
    top: 0;
    -webkit-transform: initial;
            transform: initial;
  }

  .need-a-project {
    padding-top: 50px;
  }
  .need-a-project__wrapper {
    width: 80vw;
  }

  .nap-form {
    padding: 30px 0 50px;
  }
  .nap-form__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nap-form__name {
    width: 100%;
  }
  .nap-form__e-mail {
    width: 100%;
    margin-top: 30px;
  }

  .footer {
    padding: 50px 0;
  }

  .contacts {
    margin-left: 5vw;
  }

  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5vw;
  }
  .footer-menu__column_2 {
    margin-left: 0;
  }

  .we-are-in {
    margin-left: 5vw;
  }
}