* {
  padding: 0;
  margin: 0;
  border: 0;
  color: black;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.page-container {
  width: 100vw;
}

.wrapper {
  width: 86%;
  margin: 0 auto;
}

.title {
  color: #000;
  font-weight: 700;
}

.description {
  color: #808080;
  font-weight: 400;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #10c9c3;
  z-index: 100;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  margin: 0 0 0 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  z-index: 10;
}
.header__link_active a {
  color: #10c9c3;
}
.header__link a:hover {
  color: #10c9c3;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  z-index: 10;
}
.header__logo img {
  max-width: 100%;
  display: block;
}

.text {
  padding: 180px 0 100px 0;
  background: #F6F6F6;
}
.text__wrapper {
  width: 35%;
  margin: 0 auto;
}
.text__title {
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
}
.text__description {
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 40px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25vw 25vw 25vw 25vw;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  -ms-grid-rows: 25vw 25vw 25vw;
  grid-template-rows: 25vw 25vw 25vw;
}

.gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.gallery > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.gallery > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.gallery > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.gallery > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.gallery__element {
  position: relative;
  padding: 50%;
  background: #10c9c3;
}
.gallery__element:after {
  content: url(../img/look.png);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__img:hover {
  -webkit-transition: 1.8s;
  transition: 1.8s;
  opacity: 0.4;
}
.gallery__img:not(:hover) {
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.gallery__popup-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.8);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 20;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__content {
  color: black;
  width: 100vh;
  height: 100vh;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 21;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.popup__close::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__close::before {
  content: "";
  width: 18px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popup__close:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 10px 1px black;
          box-shadow: 0 0 10px 1px black;
}
.popup__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #000;
  padding: 100px 0;
  font-size: 12px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rights__title {
  color: #fff;
  font-size: 13px;
}
.rights__description {
  color: #bcbcbc;
}
.rights__description_1 {
  padding-top: 30px;
}
.rights__description_2 {
  padding-top: 10px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 18.5vw;
}
.contacts__element {
  display: block;
  color: #bcbcbc;
}
.contacts__element:not(:first-child) {
  padding-top: 10px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10.5vw;
}
.footer-menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-menu__column_2 {
  margin-left: 4.3vw;
}
.footer-menu__element {
  display: block;
  color: #bcbcbc;
  padding-bottom: 10px;
}
.footer-menu__element:hover {
  text-decoration: underline;
}

.we-are-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10vw;
}
.we-are-in__element {
  padding-bottom: 10px;
  display: block;
  color: #bcbcbc;
}
.we-are-in__element:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1250px) {
  .text__wrapper {
    width: 60%;
  }

  .gallery {
    -ms-grid-columns: 33.33vw 33.33vw 33.33vw;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    -ms-grid-rows: 33.33vw 33.33vw 33.33vw 33.33vw;
    grid-template-rows: 33.33vw 33.33vw 33.33vw 33.33vw;
  }

  .gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .gallery > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .gallery > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .gallery > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  .contacts {
    margin-left: 7vw;
  }

  .footer-menu {
    margin-left: 7vw;
  }

  .we-are-in {
    margin-left: 7vw;
  }
}
@media screen and (max-width: 760px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 100px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 200;
  }
  .header__burger::before {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 236, 236, 0.9);
    padding: 50px 10px 20px 10px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 100px;
  }

  .header__list {
    display: block;
  }

  .header__link {
    margin: 0 0 30px 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
  }
  .header__link a:hover {
    color: #10c9c3;
    font-weight: 700;
  }

  .text {
    padding: 150px 0 50px 0;
  }
  .text__wrapper {
    width: 70%;
  }
  .text__description {
    margin-top: 30px;
  }

  .gallery {
    -ms-grid-columns: 50vw 50vw;
    grid-template-columns: 50vw 50vw;
    -ms-grid-rows: 50vw 50vw 50vw 50vw 50vw 50vw;
    grid-template-rows: 50vw 50vw 50vw 50vw 50vw 50vw;
  }

  .gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .gallery > *:nth-child(11) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  .gallery > *:nth-child(12) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }

  .footer {
    padding: 50px 0;
  }

  .contacts {
    margin-left: 5vw;
  }

  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5vw;
  }
  .footer-menu__column_2 {
    margin-left: 0;
  }

  .we-are-in {
    margin-left: 5vw;
  }
}
@media screen and (max-width: 500px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .footer-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .footer-menu__column {
    margin-right: 10vw;
  }
  .footer__links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .rights, .contacts {
    text-align: center;
    padding-bottom: 25px;
    margin: 0;
  }
}