* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 86%;
  margin: 0 auto;
}

.title {
  color: #000;
  font-weight: 700;
}

.description {
  color: #808080;
  font-weight: 400;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 38px;
}
.header__logo {
  padding-top: 38px;
}

.nav {
  padding-top: 45px;
  padding-left: 20px;
  margin-left: auto;
}
.nav__link {
  display: inline;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 2.5vw;
}
.nav__link_active a {
  color: #10c9c3;
}
.nav__link a:hover {
  color: #10c9c3;
}

.text {
  padding: 100px 0;
}
.text__wrapper {
  width: 35%;
  margin: 0 auto;
}
.text__title {
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
}
.text__description {
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 40px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.gallery > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.gallery > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.gallery > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.gallery > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.gallery__hover {
  padding: 50%;
}
.gallery__hover:hover {
  background-color: rgba(33, 191, 185, 0.9);
  background-image: url(../img/look.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.gallery__element_1 {
  background: #838383;
}
.gallery__element_2 {
  background: #dddddd;
}
.gallery__element_3 {
  background: #838383;
}
.gallery__element_4 {
  background: #dddddd;
}
.gallery__element_5 {
  background: #dddddd;
}
.gallery__element_6 {
  background: #838383;
}
.gallery__element_7 {
  background: #dddddd;
}
.gallery__element_8 {
  background: #838383;
}
.gallery__element_9 {
  background: #838383;
}
.gallery__element_10 {
  background: #dddddd;
}
.gallery__element_11 {
  background: #838383;
}
.gallery__element_12 {
  background: #dddddd;
}

.footer {
  background-color: #000;
  padding: 100px 0;
  font-size: 12px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rights__title {
  color: #fff;
  font-size: 13px;
}
.rights__description {
  color: #bcbcbc;
}
.rights__description_1 {
  padding-top: 30px;
}
.rights__description_2 {
  padding-top: 10px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 18.5vw;
}
.contacts__element {
  display: block;
  color: #bcbcbc;
}
.contacts__element:not(:first-child) {
  padding-top: 10px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10.5vw;
}
.footer-menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-menu__column_2 {
  margin-left: 4.3vw;
}
.footer-menu__element {
  display: block;
  color: #bcbcbc;
}
.footer-menu__element:not(:first-child) {
  padding-top: 10px;
}
.footer-menu__element:hover {
  text-decoration: underline;
}

.we-are-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10vw;
}
.we-are-in__element {
  display: block;
  color: #bcbcbc;
}
.we-are-in__element:not(:first-child) {
  padding-top: 10px;
}
.we-are-in__element:hover {
  text-decoration: underline;
}