@import "zeroing.scss";

body {
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	width: 100% - 14%;
	margin: 0 auto;
}
.title {
	color: #000;
	font-weight: 700;
}
.description {
	color: #808080;
	font-weight: 400;
}
.button {
	width: 180px;
	height: 55px;
	border: none;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #10c9c3;
	cursor: pointer;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #10c9c3;
	z-index: 100;

}

// header
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 2;
    }
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__list {
    display: flex;
}
.header__link {
	margin: 0 0 0 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
    position: relative;
    z-index: 2;
	&_active a {
		color: #10c9c3;
	}
	& a:hover {
		color: #10c9c3;
	}
}
.header__logo {
    flex: 0 0 60px;
    z-index: 3;
    & img {
        max-width: 100%;
        display: block;
    }
}

// main
// amelia-woods
.amelia-woods {
	background: url(../img/am1.jpg) 50% 50%/cover no-repeat;
	margin-top: 100px;
	padding: 120px 31vw;
	text-align: center;
	&__title {
		color: #fff; 
		font-size: 32px;
		font-weight: 600;
	}
	&__description {
		color: #a5a5a5;
		margin-top: 40px;
		font-size: 12px;
		font-weight: 500;
	}
}

// achievements
.achievements {
	background-color: #10c9c3;
	padding: 100px 0;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__element {
		display: flex;
		transform: scale(0);
		opacity: 0;
		transition: all 1.2s ease 0s;
		&:nth-child(1) {
			transition: all 1.2s ease 0.0s;
		}
		&:nth-child(2) {
			transition: all 1.2s ease 0.2s;
		}
		&:nth-child(3) {
			transition: all 1.2s ease 0.4s;
		}
		&:nth-child(4) {
			transition: all 1.2s ease 0.6s;
		}
		&.anim-active {
			transform: scale(1);
			opacity: 1;
		}
	}
	&__image {
		width: 40px;
		height: 40px;
	}
	&__text {
		padding-left: 28px;
		text-transform: uppercase;
	}
	&__numeric {
		display: block;
		font-size: 15px;
		font-weight: 600;
		color: #fff;
		margin-top: 0px;
	}
	&__meaning {
		display: block;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #fff;
		margin-top: 0px;
	}
}

// about-me
.about-me {
	display: flex;
	background: #F5F5F5;
	&__empty {
		flex-basis: 50%;
		background: url(../img/am7.jpg) 0 0/auto 100% no-repeat
	}
	&__content {
		flex-basis: 50%;
	}
	&__wrapper {
		padding: 140px 0;
	}
	&__title {
		font-size: 22px;
		font-weight: 500;
	}
	&__description {
		margin-top: 40px;
		font-size: 12px;
	}
	&__image {
		margin-top: 40px;
	}
}

// need-a-project
.need-a-project {
	padding: 100px 30vw;
	text-align: center;
	&__title {
		font-size: 22px;
	}
	&__description {
		font-size: 12px;
		margin-top: 40px;
	}
	&__button {
		margin-top: 40px;
	}
}


// footer
.footer {
	background-color: #000;
	padding: 100px 0;
	font-size: 12px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		display: flex;
	}
	&__links {
		display: flex;
	}
}
.rights {
	&__title {
		color: #fff;
		font-size: 13px;
	}
	&__description {
		color: #bcbcbc;
		&_1 {
			padding-top: 30px;
		}
		&_2 {
			padding-top: 10px;
		}
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	margin-left: 18.5vw;
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
}
.footer-menu {
	display: flex;
	margin-left: 10.5vw;
	&__column {
		display: flex;
		flex-direction: column;
		&_2 {
			margin-left: 4.3vw;
		}
	}
	&__element {
		display: block;
		color: #bcbcbc;
		padding-bottom: 10px;
	}

	&__element:hover {
		text-decoration: underline;
	}
}
.we-are-in {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	&__element {
		padding-bottom: 10px;;
		display: block;
		color: #bcbcbc;
	}
	&__element:hover {
		text-decoration: underline;
	}
}



// adaptive
@media screen and (max-width: 1250px) {
	
	// amelia-woods
	.amelia-woods {
		padding: 80px 20vw;
	}

	// about-me
	.about-me {
		&__empty {
			background-position: 60% 0;
		}
	}

	// need-a-project
	.need-a-project {
		padding: 80px 20vw;
	}
	
	// footer
    .contacts {
        margin-left: 7vw;
    }
    .footer-menu {
        margin-left: 7vw;
    }
    .we-are-in {
        margin-left: 7vw;
    }
}

@media screen and (max-width: 760px) {
	// header
	body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 100px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 200;
        &::before {
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
            transition: all 0.3s ease 0s;
        }
        &::after {
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        & span {
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 8px;
            transition: all 0.3s ease 0s;
        }
        &.active{
            &::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            & span {
                transform: scale(0);
            }
        }
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(236, 236, 236, 0.9);
        padding: 50px 10px 20px 10px;
        transition: all 0.8s ease 0s;
        overflow: auto;
        &.active {
            top: 100px;
        }
    }
    .header__list {
        display: block;
    }
	.header__link {
		margin: 0 0 30px 25px;
		color: #fff;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 600;
		letter-spacing: 2px;
		position: relative;
		z-index: 2;
		& a:hover {
			color: #10c9c3;
			font-weight: 700;
		}
	}

	// amelia-woods
	.amelia-woods {
		padding: 50px 15vw;
	}

	// achievements
    .achievements {
        padding: 25px 0 50px 0;
        &__container {
            flex-wrap: wrap;
        }
        &__element {
            flex-basis: 40%;
            margin-top: 50px;
        }
    }

	// about-me
	.about-me {
		display: flex;
		&__empty {
			flex-basis: 25%;
			background-position: 80% 0;
		}
		&__content {
			flex-basis: 75%;
		}
		&__wrapper {
			padding: 50px 0;
		}
	}

	// need-a-project
	.need-a-project {
		padding: 50px 15vw;
	}

	// footer
    .footer {
        padding: 50px 0;
    }
    .contacts {
        margin-left: 5vw;
    }
    .footer-menu {
        flex-direction: column;
        margin-left: 5vw;
        &__column_2 {
			margin-left: 0;
		}
    }
    .we-are-in {
        margin-left: 5vw;
    }
}

@media screen and (max-width: 500px) {
	// footer
	.footer {
		&__wrapper {
			flex-direction: column;
		}
		&__info {
			flex-direction: column;
			margin: auto;
		}
		&-menu {
			flex-direction: row;
			margin: 0;
			&__column {
				margin-right: 10vw;
			}
		}
		&__links {
			justify-content: space-around;
		}
	}
	.rights, .contacts {
		text-align: center;
		padding-bottom: 25px;
		margin: 0;
	}
}