@import "zeroing.scss";

body {
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	width: 100% - 14%;
	margin: 0 auto;
}
.title {
	color: #000;
	font-weight: 700;
}
.description {
	color: #808080;
	font-weight: 400;
}
.button {
	width: 180px;
	height: 55px;
	border: none;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #10c9c3;
	cursor: pointer;
}

// header
.header {
	display: flex;
	flex-direction: row;
	padding-bottom: 38px;
	&__logo { 
		padding-top: 38px;
	}
}
.nav {
	padding-top: 45px;
	padding-left: 20px;
	margin-left: auto;
	&__link {
		display: inline;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 1px;
		padding-left: 2.5vw;
		&_icon-menu {
			display: none;
		}
	}
	&__link_active a {
		color: #10c9c3;
	}
	&__link a:hover {
		color: #10c9c3;
	}
}

// main
// amelia-woods
.amelia-woods {
	background: url(../img/am1.jpg) 50% 50%/cover no-repeat;
	padding: 120px 31vw;
	text-align: center;
	&__title {
		color: #fff; 
		font-size: 32px;
		font-weight: 600;
	}
	&__description {
		color: #a5a5a5;
		margin-top: 40px;
		font-size: 12px;
		font-weight: 500;
	}
}

// achievements
.achievements {
	background-color: #10c9c3;
	padding: 100px 0;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__element {

		display: flex;
	}
	&__image {
		width: 40px;
		height: 40px;
	}
	&__text {
		padding-left: 28px;
		text-transform: uppercase;
	}
	&__numeric {
		display: block;
		font-size: 15px;
		font-weight: 600;
		color: #fff;
		margin-top: -5px;
	}
	&__meaning {
		display: block;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #fff;
		margin-top: -5px;
	}
}

// about-me
.about-me {
	display: flex;
	background: #F5F5F5;
	&__empty {
		flex-basis: 50%;
		background: url(../img/am7.jpg) 0 0/auto 100% no-repeat
	}
	&__content {
		flex-basis: 50%;
	}
	&__wrapper {
		padding: 140px 0;
	}
	&__title {
		font-size: 22px;
		font-weight: 500;
	}
	&__description {
		margin-top: 40px;
		font-size: 12px;
	}
	&__image {
		margin-top: 40px;
	}
}

// need-a-project
.need-a-project {
	padding: 100px 30vw;
	text-align: center;
	&__title {
		font-size: 22px;
	}
	&__description {
		font-size: 12px;
		margin-top: 40px;
	}
	&__button {
		margin-top: 40px;
	}
}


// footer
.footer {
	background-color: #000;
	padding: 100px 0;
	font-size: 12px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
.rights {
	&__title {
		color: #fff;
		font-size: 13px;
	}
	&__description {
		color: #bcbcbc;
		&_1 {
			padding-top: 30px;
		}
		&_2 {
			padding-top: 10px;
		}
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	margin-left: 18.5vw;
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
}
.footer-menu {
	display: flex;
	margin-left: 10.5vw;
	&__column {
		display: flex;
		flex-direction: column;
		&_2 {
			margin-left: 4.3vw;
		}
	}
	&__element {
		display: block;
		color: #bcbcbc;
		padding-bottom: 10px;
	}

	&__element:hover {
		text-decoration: underline;
	}
}
.we-are-in {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	&__element {
		padding-bottom: 10px;;
		display: block;
		color: #bcbcbc;
	}
	&__element:hover {
		text-decoration: underline;
	}
}



// adaptive
@media screen and (max-width: 1250px) {
	
	// amelia-woods
	.amelia-woods {
		padding: 80px 20vw;
	}

	// about-me
	.about-me {
		&__empty {
			background-position: 60% 0;
		}
	}

	// need-a-project
	.need-a-project {
		padding: 80px 20vw;
	}
	
	// footer
    .contacts {
        margin-left: 7vw;
    }
    .footer-menu {
        margin-left: 7vw;
    }
    .we-are-in {
        margin-left: 7vw;
    }
}

@media screen and (max-width: 760px) {
	// header
    header {
        padding-bottom: 0;
    }
    .header {
        padding-bottom: 50px;
    }
	.nav {
		&__link {
			display: none;
			&_icon-menu {
				display: block;
				font-size: 25px;
			}
		}
		&__list {
			&-responsive > .nav__link {
				display: block;
				margin-top: 10px;
			}
		}
	}

	// amelia-woods
	.amelia-woods {
		padding: 50px 15vw;
	}

	// achievements
    .achievements {
        padding: 25px 0 50px 0;
        &__container {
            flex-wrap: wrap;
        }
        &__element {
            flex-basis: 40%;
            margin-top: 50px;
        }
    }

	// about-me
	.about-me {
		display: flex;
		&__empty {
			flex-basis: 25%;
			background-position: 80% 0;
		}
		&__content {
			flex-basis: 75%;
		}
		&__wrapper {
			padding: 50px 0;
		}
	}

	// need-a-project
	.need-a-project {
		padding: 50px 15vw;
	}

	// footer
    .footer {
        padding: 50px 0;
    }
    .contacts {
        margin-left: 5vw;
    }
    .footer-menu {
        flex-direction: column;
        margin-left: 5vw;
        &__column_2 {
			margin-left: 0;
		}
    }
    .we-are-in {
        margin-left: 5vw;
    }
}