// adaptive
// header
@media screen and (max-width: 760px) {
    header {
        padding-bottom: 50px;
    }
    .header {
        padding-bottom: 70px;
    }
	.nav {
		&__link {
			display: none;
			&_icon-menu {
				display: block;
				font-size: 25px;
			}
		}
		&__list {
			&-responsive > .nav__link {
				display: block;
				margin-top: 10px;
			}
		}
	}

    // home
    .home {
        padding: 0 10vw;
        text-align: center;
    }

    // about
    .about {
        padding: 50px 10vw;
    }

    // prof-skills
    .prof-skills {
        &__wrapper {
	    	flex-basis: 70%;
		    padding: 50px 7vw;
        }
        &__empty {
            flex-basis: 30%;
        }
    }

    // achievements
    .achievements {
        padding: 25px 0 50px 0;
        &__container {
            flex-wrap: wrap;
        }
        &__element {
            flex-basis: 40%;
            margin-top: 50px;
        }
    }

    // gallery
    .gallery {
        grid-template-columns: 50% 50%;
        grid-template-rows:	25% 25% 25% 25%;
        &__element_1 {
            background: #838383;
        }
        &__element_2 {
            background: #dddddd;
        }
        &__element_3 {
            background: #dddddd;
        }
        &__element_4 {
            background: #838383;
        }
        &__element_5 {
            background: #838383;
        }
        &__element_6 {
            background: #dddddd;
        }
        &__element_7 {
            background: #dddddd;
        }
        &__element_8 {
            background: #838383;
        }
    }

    // our work process
    .owp-categorys {
        &__wrapper {
            margin-top: 140px;
            grid-template-columns: 43vw 43vw;  
            grid-template-rows:	auto auto auto auto;
        }
        &__element {
            padding: 15px 15%;
        }
    }

    // slider quotes
    .slider-quotes {
		padding-top: 50px;
		padding-bottom: 35px;
		&__quote-container_2 {
			width: 90%;
		}
        &__quote-author {
            padding-bottom: 50px;
        }
    }

    // labels
    .labels {
        margin: 0 0 30px;
        justify-content: center;
        flex-wrap: wrap;
        &__element-container {
            width: 100%;
            position: initial;
            margin-top: 30px;
        }
        &__image {
            display: block;
            width: 25%;
            margin: 0 auto;
            position: initial;
            left: 0;
            top: 0;
            transform: initial;
        }
    }

    // need a project
    .need-a-project {
        padding-top: 50px;
        &__wrapper {
            width: 80vw;

        }
    }
    .nap-form {
        padding: 30px 0 50px;
        &__container {
            flex-wrap: wrap;
        }
        &__name {
            width: 100%;
        }
        &__e-mail {
            width: 100%;
            margin-top: 30px;
        }
    }

    // footer
    .footer {
        padding: 50px 0;
    }
    .contacts {
        margin-left: 5vw;
    }
    .footer-menu {
        flex-direction: column;
        margin-left: 5vw;
        &__column_2 {
			margin-left: 0;
		}
    }
    .we-are-in {
        margin-left: 5vw;
    }
}