// Обнуление
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	width: 100% - 14%;
	margin: 0 auto;
}
.title {
	color: #000;
	font-weight: 700;
}
.description {
	color: #808080;
	font-weight: 400;
}


// header
.header {
	display: flex;
	flex-direction: row;
	padding-bottom: 38px;
	&__logo { 
		padding-top: 38px;
	}
}
.nav {
	padding-top: 45px;
	padding-left: 20px;
	margin-left: auto;
	&__link {
		display: inline;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 1px;
		padding-left: 2.5vw;
	}
	&__link_active a {
		color: #10c9c3;
	}
	&__link a:hover {
		color: #10c9c3;
	}
}


// main
// text
.text {
	padding: 100px 0;
	&__wrapper {
		width: 35%;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		font-size: 22px; 
		letter-spacing: 1px;
	}
	&__description {
		text-align: center;	
		font-size: 12px; 
		letter-spacing: 1px;
		margin-top: 40px;
	}
}

// gallery
.gallery {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;  
  	grid-template-rows:	33.33% 33.33% 33.33%;
  	&__hover {
  		padding: 50%;
  	}
  	&__hover:hover {
  		background-color: rgba(33, 191, 185, 0.9);
  		background-image: url(../img/look.png);
  		background-position: center;
  		background-repeat: no-repeat;
  		cursor: pointer;
  	}
  	&__element_1 {
  		background: #838383;
  	}
  	&__element_2 {
  		background: #dddddd;
  	}
  	&__element_3 {
  		background: #838383;
  	}
  	&__element_4 {
  		background: #dddddd;
  	}
  	&__element_5 {
  		background: #dddddd;
  	}
  	&__element_6 {
  		background: #838383;
  	}
  	&__element_7 {
  		background: #dddddd;
  	}
  	&__element_8 {
  		background: #838383;
  	}
  	&__element_9 {
  		background: #838383;
  	}
  	&__element_10 {
  		background: #dddddd;
  	}
  	&__element_11 {
  		background: #838383;
  	}
  	&__element_12 {
  		background: #dddddd;
  	}
}


// footer
.footer {
	background-color: #000;
	padding: 100px 0;
	font-size: 12px;
	&__wrapper {
		display: flex;
	}
}
.rights {
	&__title {
		color: #fff;
		font-size: 13px;
	}
	&__description {
		color: #bcbcbc;
		&_1 {
			padding-top: 30px;
		}
		&_2 {
			padding-top: 10px;
		}
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	margin-left: 18.5vw;
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
}
.footer-menu {
	display: flex;
	margin-left: 10.5vw;
	&__column {
		display: flex;
		flex-direction: column;
		&_2 {
			margin-left: 4.3vw;
		}
	}
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
	&__element:hover {
		text-decoration: underline;
	}
}
.we-are-in {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
	&__element:hover {
		text-decoration: underline;
	}
}