// Обнуление
@import "zeroing.scss";

body {
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	width: 100% - 14%;
	margin: 0 auto;
}
.title {
	color: #000;
	font-weight: 700;
}
.description {
	color: #808080;
	font-weight: 400;
}


// header
.header {
	display: flex;
	flex-direction: row;
	padding-bottom: 38px;
	&__logo { 
		padding-top: 38px;
	}
}
.nav {
	padding-top: 45px;
	padding-left: 20px;
	margin-left: auto;
	&__link {
		display: inline;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 1px;
		padding-left: 2.5vw;
		&_icon-menu {
			display: none;
		}
	}
	&__link_active a {
		color: #10c9c3;
	}
	&__link a:hover {
		color: #10c9c3;
	}
}


// main
// text
.text {
	padding: 100px 0;
	background: #F6F6F6;
	&__wrapper {
		width: 35%;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		font-size: 22px; 
		letter-spacing: 1px;
	}
	&__description {
		text-align: center;	
		font-size: 12px; 
		letter-spacing: 1px;
		margin-top: 40px;
	}
}

// gallery
.gallery {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;  
  	grid-template-rows:	33.33% 33.33% 33.33%;
	&__element {
		position: relative;
		padding: 50%;
		background: rgb(33, 191, 185);
	}
	&__element:hover:after{
		content: url(../img/look.png);
		position: absolute;
		transform: translate(-50%, -50%);
		z-index: 2;
  		cursor: zoom-in;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		&:hover {
			transition: 1.8s;
			opacity: 0.4;
		}
		&:not(:hover) {
			transition: 1s;
		}
		&[tabindex="0"] {
			cursor: zoom-in;
		}
		&[tabindex="0"]:focus {
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: auto;
			height: auto;
			max-width: 99%;
			max-height: 99%;
			margin: auto;
			box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
		}
		&[tabindex="0"]:focus,
		&[tabindex="0"]:focus ~ * {
			pointer-events: none;
		}
	}
}

// footer
.footer {
	background-color: #000;
	padding: 100px 0;
	font-size: 12px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		display: flex;
	}
	&__links {
		display: flex;
	}
}
.rights {
	&__title {
		color: #fff;
		font-size: 13px;
	}
	&__description {
		color: #bcbcbc;
		&_1 {
			padding-top: 30px;
		}
		&_2 {
			padding-top: 10px;
		}
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	margin-left: 18.5vw;
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
}
.footer-menu {
	display: flex;
	margin-left: 10.5vw;
	&__column {
		display: flex;
		flex-direction: column;
		&_2 {
			margin-left: 4.3vw;
		}
	}
	&__element {
		display: block;
		color: #bcbcbc;
		padding-bottom: 10px;
	}

	&__element:hover {
		text-decoration: underline;
	}
}
.we-are-in {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	&__element {
		padding-bottom: 10px;;
		display: block;
		color: #bcbcbc;
	}
	&__element:hover {
		text-decoration: underline;
	}
}

// adaptive
@media screen and (max-width: 1250px) {
	
	// text
	.text {
		&__wrapper {
			width: 60%;
		}
	}

	// gallery
    .gallery {
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows:	25% 25% 25% 25%;
    }

	// footer
    .contacts {
        margin-left: 7vw;
    }
    .footer-menu {
        margin-left: 7vw;
    }
    .we-are-in {
        margin-left: 7vw;
    }
}

@media screen and (max-width: 760px) {
    // header
	header {
        padding-bottom: 0;
    }
    .header {
        padding-bottom: 50px;
    }
	.nav {
		&__link {
			display: none;
			&_icon-menu {
				display: block;
				font-size: 25px;
			}
		}
		&__list {
			&-responsive > .nav__link {
				display: block;
				margin-top: 20px;
				font-size: 20px;
			}
		}
	}

	// text
	.text {
		padding: 50px 0;
		&__wrapper {
			width: 70%;
		}
		&__description {
			margin-top: 30px;
		}
	}

	// gallery
    .gallery {
		grid-template-columns: 50% 50%;
        grid-template-rows:	16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }

	// footer
    .footer {
        padding: 50px 0;
    }
    .contacts {
        margin-left: 5vw;
    }
    .footer-menu {
        flex-direction: column;
        margin-left: 5vw;
        &__column_2 {
			margin-left: 0;
		}
    }
    .we-are-in {
        margin-left: 5vw;
    }
}

@media screen and (max-width: 500px) {
	// gallery
	.gallery {
		grid-template-columns: 100%;
		grid-template-rows:	repeat(12, 8.333%);
		&__element {
			position: relative;
			padding: 50%;
			background: none;
		}
		&__element:hover:after{
			content: none;
			position: static;
			transform: none;
			z-index: 0;
			  cursor: default;
		}
		&__img {
			&:hover {
				transition: none;
				opacity: 1;
			}
			&:not(:hover) {
				transition: none;
			}
			&[tabindex="0"] {
				cursor: default;
			}
			&[tabindex="0"]:focus {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				max-width: 100%;
				max-height: 100%;
				margin: auto;
				box-shadow: none;
			}
		}
	}

	// footer
	.footer {
		&__wrapper {
			flex-direction: column;
		}
		&__info {
			flex-direction: column;
			margin: auto;
		}
		&-menu {
			flex-direction: row;
			margin: 0;
			&__column {
				margin-right: 10vw;
			}
		}
		&__links {
			justify-content: space-around;
		}
	}
	.rights, .contacts {
		text-align: center;
		padding-bottom: 25px;
		margin: 0;
	}
}