* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	width: 100% - 14%;
	margin: 0 auto;
}
.title {
	color: #000;
	font-weight: 700;
}
.description {
	color: #808080;
	font-weight: 400;
}

// header
.header {
	display: flex;
	flex-direction: row;
	padding-bottom: 38px;
	&__logo { 
		padding-top: 38px;
	}
}
.nav {
	padding-top: 45px;
	padding-left: 20px;
	margin-left: auto;
	&__link {
		display: inline;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 1px;
		padding-left: 2.5vw;
		&_icon-menu {
			display: none;
		}
	}
	&__link_active a {
		color: #10c9c3;
	}
	&__link a:hover {
		color: #10c9c3;
	}
}

// main
.project {
	&__conteiner {
		display: flex;
	}
	&__specification {
		flex-basis: 50%;
		padding: 110px 7vw;
	}
	&__empty {
		flex-basis: 50%;
		background-color: #e1e1e1;
	}
	&__title {
		font-size: 30px;
		font-weight: 500;
	}
	&__description {
		margin-top: 30px;
		font-size: 12px;
		line-height: 20px;
	}
	&__sign {
		margin-top: 60px;
		font-size: 12px;
		line-height: 25px;
		&_thick {
			font-weight: 700;
		}
	}
}

// switch
.switch {
	padding: 42px 0;
	&__wrapper{
		display: flex;
	}
	&__button {
		display: block;
		flex-basis: 40%;
		border: none;
		background: none;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		&_left {
			margin-right: auto;
			text-align: left;
			&:before {
				content: "<";
				margin-right: 15px;
				color: #808080;
			}
		}
		&_right {
			margin-left: auto;
			text-align: right;
			&:after {
				content: ">";
				margin-left: 15px;
				color: #808080;
			}
		}
		&:hover {
			font-size: 13px;
		}
	}
	&__image {
		display: block;
		margin: 0 auto;
		width: 16px;
		height: 16px;
	}
}


// footer
.footer {
	background-color: #000;
	padding: 100px 0;
	font-size: 12px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
.rights {
	&__title {
		color: #fff;
		font-size: 13px;
	}
	&__description {
		color: #bcbcbc;
		&_1 {
			padding-top: 30px;
		}
		&_2 {
			padding-top: 10px;
		}
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	margin-left: 18.5vw;
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
}
.footer-menu {
	display: flex;
	margin-left: 10.5vw;
	&__column {
		display: flex;
		flex-direction: column;
		&_2 {
			margin-left: 4.3vw;
		}
	}
	&__element {
		display: block;
		color: #bcbcbc;
		padding-bottom: 10px;
	}

	&__element:hover {
		text-decoration: underline;
	}
}
.we-are-in {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	&__element {
		padding-bottom: 10px;;
		display: block;
		color: #bcbcbc;
	}
	&__element:hover {
		text-decoration: underline;
	}
}

// adaptive
@media screen and (max-width: 1250px) {
	// footer
    .contacts {
        margin-left: 7vw;
    }
    .footer-menu {
        margin-left: 7vw;
    }
    .we-are-in {
        margin-left: 7vw;
    }
}

@media screen and (max-width: 760px) {
	// header
    header {
        padding-bottom: 0;
    }
    .header {
        padding-bottom: 50px;
    }
	.nav {
		&__link {
			display: none;
			&_icon-menu {
				display: block;
				font-size: 25px;
			}
		}
		&__list {
			&-responsive > .nav__link {
				display: block;
				margin-top: 10px;
			}
		}
	}

	.project {
		&__conteiner {
			flex-direction: column;
		}
		&__specification {
			flex-basis: 100%;
			padding: 50px 7vw;
			text-align: center;
		}
		&__empty {
			flex-basis: 100%;
			padding: 200px 0;
		}
	}

	// switch
	.switch {
		padding: 15px 0;
	}
	
	// footer
    .footer {
        padding: 50px 0;
    }
    .contacts {
        margin-left: 5vw;
    }
    .footer-menu {
        flex-direction: column;
        margin-left: 5vw;
        &__column_2 {
			margin-left: 0;
		}
    }
    .we-are-in {
        margin-left: 5vw;
    }
}