// Обнуление
@import "zeroing.scss";

@mixin line-gradient($border) {
	background: linear-gradient(to right, #10c9c3 $border, #d8d8d8 $border);
}
body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	overflow-x: hidden;
}
body.lock {
    overflow: hidden;
}
.page-container {
	width: 100vw;
}
.wrapper {
	width: 100% - 14%;
	margin: 0 auto;
}
.title {
	color: #000;
	font-weight: 700;
}
.description {
	color: #808080;
	font-weight: 400;
}
.button {
	width: 180px;
	height: 55px;
	border: none;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #10c9c3;
	cursor: pointer;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #10c9c3;
	z-index: 100;

}

// header
.top-of-page {
	background: url(../img/sp1.jpg) 0 0/contain no-repeat, rgb(236, 236, 236);
	padding: 200px 0;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(236, 236, 236, 0.9);
        z-index: 9;
    }
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__list {
    display: flex;
}
.header__link {
	margin: 0 0 0 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
    position: relative;
    z-index: 10;
	& a:hover {
		color: #10c9c3;
	}
}
.header__logo {
    flex: 0 0 60px;
    z-index: 10;
    & img {
        max-width: 100%;
        display: block;
    }
}


// home
.home {
	padding-left: 49vw;
	&__title {
		font-size: 29px;
	}
	&__description {
		padding-top: 40px;
		font-size: 15px;
		line-height: 20px;
	}
	&__button {
		margin-top: 40px;
	}
}

// about
.about {
	background-color: #fff;
	padding: 100px 22vw;
	text-align: center;
	&__title {
		font-size: 22px;
	}
	&__description {
		padding-top: 40px;
		font-size: 12px;
		line-height: 16px;
	}
	&__image {
		margin-top: 40px;
	}
}

// prof-skills
.prof-skills {
	display: flex;
	background: url(../img/sp2.jpg) top right/auto 100% no-repeat, #FCFCFE;
	&__wrapper {
		flex-basis: 50%;
		padding: 165px 7vw;
	}
	&__title {
		font-size: 22px;
	}
	&__subtitle {
		font-size: 10px;
		text-transform: uppercase;
		padding-top: 40px;
	}
	&__subtitle_interest {
		padding-left: 18px;
	}
	&__line {
		height: 3px;
		width: 100%;
		margin-top: 20px;
		letter-spacing: 1px;
	}
	&__line_1 {
		@include line-gradient(75%);
	}
	&__line_2 {
		@include line-gradient(90%);
	}
	&__line_3 {
		@include line-gradient(65%);
	}
	&__empty {
		flex-basis: 50%;
	}
}

// achievements
.achievements {
	background-color: #10c9c3;
	padding: 100px 0;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__element {

		display: flex;
	}
	&__image {
		width: 40px;
		height: 40px;
	}
	&__text {
		padding-left: 28px;
		text-transform: uppercase;
	}
	&__numeric {
		display: block;
		font-size: 15px;
		font-weight: 600;
		color: #fff;
		margin-top: 0px;
	}
	&__meaning {
		display: block;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #fff;
		margin-top: 0px;
	}
}

// gallery
.gallery {
	display: grid;
	grid-template-columns: 25vw 25vw 25vw 25vw;  
  	grid-template-rows:	25vw 25vw;
  	&__element {
		position: relative;
		padding: 50%;
		background: rgb(37, 37, 37);
	}
	&__element:after{
		content: url(../img/look.png);
		position: absolute;
        top: 50%;
        left: 50%;
		transform: translate(-50%, -50%);
  		cursor: zoom-in;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		&:hover {
			transition: 1.8s;
			opacity: 0.4;
		}
		&:not(:hover) {
			transition: 1.5s;
		}
	}
    &__popup-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}
.popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(210,210,210,0.8);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 20;
    &.open {
        opacity: 1;
        visibility: visible;
        & .popup__content {
            transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
            opacity: 1;
        }
    }
    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        color: black;
        width: 100vh;
        height: 100vh;
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    }
    &__close {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 2px solid black;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 21;
        opacity: 0.7;
        transition: all 0.3s ease 0s;
        &::after {
            content: '';
            width: 18px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 10px;
            left: 2px;
            transform: rotate(45deg);
        }
        &::before {
            content: '';
            width: 18px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 10px;
            right: 2px;
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 1;
            box-shadow: 0 0 10px 1px black;
        }
    }
    &__img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.gallery-section__description {
	display: block;
	padding: 50px 0;
	text-align: center;
	text-transform: uppercase;
	background: #F5F5F5;
}

// our work process
.our-work-process {
	&__title {
		text-align: center;
		font-size: 22px; 
		letter-spacing: 1px;
		margin-top: 100px;
	}
	&__description {
		text-align: center;	
		font-size: 12px; 
		letter-spacing: 1px;
		margin-top: 40px;
	}
	&__video {
		margin-top: 56px;
	}

}
.owp-categorys {
	background-color: #f5f5f5;
  	&__wrapper {
  	margin-top: 140px;
	display: grid;
	grid-template-columns: 21.5vw 21.5vw 21.5vw 21.5vw;  
  	grid-template-rows:	auto auto;
  	}
	&__element {
		padding: 60px 15%;
	}
	&__image {
		display: block;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		text-transform: uppercase;
		margin-top: 30px;
		font-size: 10px;
		font-weight: 800;
		letter-spacing: 1px;
	}
	&__description {
		text-align: center;
		margin-top: 20px;
		font-size: 12px;
		line-height: 16px;
	}
}

// slider quotes
.slider-quotes {
		background-color: #10c9c3;
		padding-top: 185px;
		padding-bottom: 55px;
		&__quote-container_2 {
			width: 60vw;
			margin: 0 auto;
		}
		&__quote {
			text-align: center;
			color: #fff;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 1px;
			line-height: 25px;
		}
		&__quote-author {
			padding-top: 40px;
			padding-bottom: 100px; 
			display: block;
			text-align: center;
			color: #fff;
			font-size: 12px;
			font-weight: 500;
		}
	}
.slider-buttons {
	position: relative;
	&__container {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__button {
		transform: translateY(50%);
		width: 6px;
		height: 6px;
		border: none;
		border-radius: 50%;
		margin: 4px;
		cursor: pointer;
	}
	&_active {
		width: 10px;
		height: 10px;
		border: none;
		border-radius: 50%;
	}
}

// labels
.labels {
	display: flex;
	margin: 65px 0 130px;
	&__element-container {
		width: 20%;
		position: relative;
	}
	&__image {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%);
	}
}

// need a project
.need-a-project {
	background-color:  #f5f5f5;
	padding-top: 100px;
	&__wrapper {
		width: 49vw;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		font-size: 22px; 
		letter-spacing: 1px;
	}
	&__description {
		text-align: center;	
		font-size: 12px; 
		letter-spacing: 1px;
		margin-top: 40px;
		line-height: 18px;
	}
}
.nap-form {
	padding: 40px 0 100px;
	&__container {
		display: flex;
	}
	&__name {
		border: none;
		display: block;
		width: 49%;
		height: 50px;
		padding-left: 20px;
	}
	&__e-mail {
		border: none;
		display: block;
		width: 49%;
		height: 50px;
		margin-left: auto;
		padding-left: 20px;
	}
	&__title {
		border: none;
		width: 100%;
		height: 50px;
		margin-top: 30px;
		padding-left: 20px;
	}
	&__comment {
		border: none;
		width: 100%;
		height: 175px;
		margin-top: 30px;
		padding: 20px;

	}
	&__button {
		display: block;
		margin-top: 40px;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

// footer
.footer {
	background-color: #000;
	padding: 100px 0;
	font-size: 12px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		display: flex;
	}
	&__links {
		display: flex;
	}
}
.rights {
	&__title {
		color: #fff;
		font-size: 13px;
	}
	&__description {
		color: #bcbcbc;
		&_1 {
			padding-top: 30px;
		}
		&_2 {
			padding-top: 10px;
		}
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	margin-left: 18.5vw;
	&__element {
		display: block;
		color: #bcbcbc;
	}
	&__element:not(:first-child) {
		padding-top: 10px;
	}
}
.footer-menu {
	display: flex;
	margin-left: 10.5vw;
	&__column {
		display: flex;
		flex-direction: column;
		&_2 {
			margin-left: 4.3vw;
		}
	}
	&__element {
		display: block;
		color: #bcbcbc;
		padding-bottom: 10px;
	}

	&__element:hover {
		text-decoration: underline;
	}
}
.we-are-in {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	&__element {
		padding-bottom: 10px;;
		display: block;
		color: #bcbcbc;
	}
	&__element:hover {
		text-decoration: underline;
	}
}



// adaptive
@media screen and (max-width: 1250px) {
	// footer
    .contacts {
        margin-left: 7vw;
    }
    .footer-menu {
        margin-left: 7vw;
    }
    .we-are-in {
        margin-left: 7vw;
    }
}

@media screen and (max-width: 760px) {
	// header
    .top-of-page {
        padding: 200px 0 50px;
		background: url(../img/sp1.jpg) bottom left /contain no-repeat, rgb(236, 236, 236);
    }

	body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 100px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 10;
        &::before {
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
            transition: all 0.3s ease 0s;
        }
        &::after {
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        & span {
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 8px;
            transition: all 0.3s ease 0s;
        }
        &.active{
            &::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            & span {
                transform: scale(0);
            }
        }
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(236, 236, 236, 0.9);
        padding: 50px 10px 20px 10px;
        transition: all 0.8s ease 0s;
        overflow: auto;
        &.active {
            top: 100px;
        }
    }
    .header__list {
        display: block;
    }
	.header__link {
		margin: 0 0 30px 25px;
		color: #fff;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 600;
		letter-spacing: 2px;
		position: relative;
		z-index: 9;
		& a:hover {
			color: #10c9c3;
			font-weight: 700;
		}
	}

    // home
    .home {
        padding: 0 10vw;
        text-align: center;
    }
	.description {
		color: #000;
		font-weight: 500;
	}

    // about
    .about {
        padding: 50px 10vw;
    }

    // prof-skills
    .prof-skills {
        &__wrapper {
	    	flex-basis: 70%;
		    padding: 50px 7vw;
        }
        &__empty {
            flex-basis: 30%;
        }
    }

    // achievements
    .achievements {
        padding: 25px 0 50px 0;
        &__container {
            flex-wrap: wrap;
        }
        &__element {
            flex-basis: 40%;
            margin-top: 50px;
        }
    }

    // gallery
    .gallery {
        grid-template-columns: 50vw 50vw;
        grid-template-rows:	50vw 50vw 50vw 50vw;
    }

    // our work process
    .owp-categorys {
        &__wrapper {
            margin-top: 140px;
            grid-template-columns: 43vw 43vw;  
            grid-template-rows:	auto auto auto auto;
        }
        &__element {
            padding: 15px 15%;
        }
    }

    // slider quotes
    .slider-quotes {
		padding-top: 50px;
		padding-bottom: 35px;
		&__quote-container_2 {
			width: 90%;
		}
        &__quote-author {
            padding-bottom: 50px;
        }
    }

    // labels
    .labels {
        margin: 0 0 30px;
        justify-content: center;
        flex-wrap: wrap;
        &__element-container {
            width: 100%;
            position: initial;
            margin-top: 30px;
        }
        &__image {
            display: block;
            width: 25%;
            margin: 0 auto;
            position: initial;
            left: 0;
            top: 0;
            transform: initial;
        }
    }

    // need a project
    .need-a-project {
        padding-top: 50px;
        &__wrapper {
            width: 80vw;

        }
    }
    .nap-form {
        padding: 30px 0 50px;
        &__container {
            flex-wrap: wrap;
        }
        &__name {
            width: 100%;
        }
        &__e-mail {
            width: 100%;
            margin-top: 30px;
        }
    }

    // footer
    .footer {
        padding: 50px 0;
    }
    .contacts {
        margin-left: 5vw;
    }
    .footer-menu {
        flex-direction: column;
        margin-left: 5vw;
        &__column_2 {
			margin-left: 0;
		}
    }
    .we-are-in {
        margin-left: 5vw;
    }
}

@media screen and (max-width: 500px) {

	// header
	.top-of-page {
		padding: 100px 0 50px;
	}
	
	// footer
	.footer {
		&__wrapper {
			flex-direction: column;
		}
		&__info {
			flex-direction: column;
			margin: auto;
		}
		&-menu {
			flex-direction: row;
			margin: 0;
			&__column {
				margin-right: 10vw;
			}
		}
		&__links {
			justify-content: space-around;
		}
	}
	.rights, .contacts {
		text-align: center;
		padding-bottom: 25px;
		margin: 0;
	}
}
